* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2438(0, 0, 0);
    color: black;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    background-color: rgb(0, 0, 0);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {

    color: black;
    font-size: 1rem;
}
.right {
    font-size: 1.5rem;
    color: white;
}
.firstsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.firstsection>div {
    width: 30%;
}

.leftsection {

    width: 34px 0;
    font-size: 2.5rem;

}

.leftsection .btn {
    background: purple;
    color:white;
    border:  2px solid white;
    border-radius: 3px;
    font-size: 20px;
    padding: 13px;
    cursor: pointer;

}


.rightsection img {
border-radius: 60%;
width: 50%;
margin: 30px 0;
}

.Purple {
    color: purple;

}
#element {
    color: rgb(146, 146, 238);}

    main hr {
        border: 0;
        color: red;
        height: 1px;
        background: rgb(7, 7, 7);
        margin: 40px 10px;
    }

    .secondsection h1 {

        font-size: 1.9rem;
margin: 60px;

    }

    .grey {
        color: grey;
    }

    .secondsection .box {
        background: rgb(30, 29, 29);
        height: 2px;
        width: 60vw;
        margin: 50px;
        display: flex;
    }

    .secondsection .verticle {

        height: 30px;
        width: 1px;
        background-color: rgb(3, 3, 3);
        margin: 0 100px;
    }

    .image-top {
        width: 20px;
        position: relative;
        top: -25px;

    }

    .verticle-title {
        position: relative;
        top: 10px;
        width: 150px;


    }

    .verticle-desc {
        position: relative;
        font-size: 10px;
        top: 20px;
        width: 140px;

    }

    footer {
        background-color: rgb(32, 22, 32);
        padding: 15px 0;
        color: white;

    }

    .footer {
        display: flex;

        padding: 23px 120px;
        justify-content: space-evenly;

    }

    .rights-text {
        text-align: center;
    }